<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
<title>Article Manager</title>
<!-- 전체 적용될 CSS -->
<th:block layout:fragment="css"></th:block>
<!-- 전체 적용될 스크립트 -->
<th:block layout:fragment="script"></th:block>

<!-- 우리가 작업할 공간 -->
<body>
<div layout:fragment="content" class="content">
    <div th:unless="${mag == null}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong th:text="${msg}"><</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
            <div>
                <tr th:each="article : ${articles}" th:object="${article}">
                    <th scope="row" th:text="*{id}"></th>
                    <td>
                        <a th:href="@{/articles/{id}(id=*{id})}"><span th:text="*{title}"></span></a>
                    </td>
                    <td th:text="*{content}"></td>
                </tr>
            </div>
        </tbody>
    </table>
    <a href="/articles/new">New Article</a>
    <!-- paging -->
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" th:classappend="${articles.number}<=0 ? 'disabled'">
                <a class="page-link" th:href="@{/articles(page=${articles.number-1})}">Previous</a>
            </li>
            <th:block th:each="pageNumber : ${pageBars}">
                <li class="page-item">
                    <a class="page-link" th:href="@{/articles(page=${pageNumber})}" th:text="${pageNumber+1}">
                    </a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${articles.number+1} == ${articles.totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/articles(page=${articles.number+1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>